.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.h-scroll {
    height: 86vh; /* %-height of the viewport */
    position: fixed;
    overflow-y: scroll;
}
.spinner-border {
    border-width: 0.5em; /* Adjust the thickness as needed */
    margin-left: 50px;
}

.skeleton-loading {
    height: 20px; /* Adjust the height of each skeleton element */
    margin-bottom: 10px; /* Adjust the margin between each skeleton element */
    background-color: #f0f0f0; /* Adjust the background color of the skeleton elements */
    border-radius: 4px; /* Adjust the border radius of the skeleton elements */
}

/* Optional animation for a shimmer effect */
@keyframes shimmer {
    0% {
        background-position: -1000px;
    }
    100% {
        background-position: 1000px;
    }
}

.skeleton-loading {
    animation: shimmer 1s infinite linear;
    background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
    background-size: 1000px 100%;
}
